 //vars
 $w-header:100%;
 
 
 
 
 /*-------------media------------*/

 @media screen and (max-width: 576px) {
    
    .header-navigation {
        flex-direction: column;
        
    }

        .figma_land_img {
            width: $w-header;
            
        }

        .hbl {
            width: $w-header;
            display: none;
        }

        .open-menu {
            display: flex;
        }

}