body {
    margin: 0;
    padding: 0;
    font-family: Geneva, Arial, Helvetica, sans-serif;
}

div {
    box-sizing: border-box;
}

.d-flex {
    display: flex;
}

    .header-logo-img {
    width: 150px;
    height: auto;
}

    .links:hover>.social-logo {
    width: 25px;
    height: auto;
}

.links {
    letter-spacing: 0.1rem;
    transition: all 0.1s ease;
    box-sizing: border-box;
}
.header-content-container {
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px ;
}

.header-navigation {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.header-button-list {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    gap: 30px;
}

.nav-item-link {
    text-decoration: none;
    color: #FFFFFF;
}

.header-social {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 40px;
}

.bg {
    z-index: -1;
    width: 100vw;
    height: auto;
}

.header-section {
    position: relative;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-attachment: fixed;
}

.header-discript {
    color: #FFFFFF;
    font-size: 25px;
    width: 60%;
    align-self: center;
    height: auto;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.header-button {
    display: flex;
    justify-content: center;
}

.button-link {
    text-align: center;
    width: 236px;
    height: 52px;
    background: #2091F9;
    border-radius: 35px;
    color: #FFFFFF;
    border:#252B42 solid 2px;
    letter-spacing: 0.1rem;
    transition: all 0.1s ease;
    cursor: pointer;
}

.subscribe {
    flex-direction: column;
    letter-spacing: 0.1rem;
    transition: all 0.1s ease;
    cursor: pointer;
}

.button-link:hover {
    color:#2091F9;
    background-color: #FFFFFF;
}

.section-info {
    padding-top: 200px;
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.fw {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.fastest-way {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
}

.fastway_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img_mac {
    width: 300px;
    height: auto;
}

.cont_email {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 100px;
}

.email {
    padding-top: 250px;
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;

}

.img-email {
    width: 300px;
    height: auto;
}

.info-email {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
}


.email-discript {
    font-weight: normal;
}

.partners {
    padding-top: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.grid-partners {
    display: grid;
    grid-template-columns: repeat(4, 170px);
    grid-auto-rows: repeat(2, 80px);
    background: #FFFFFF;
    border: 4px solid #D8D8D8;
    margin: 75px;
}

.partners-logo {
    width: 75px;
    height: auto;
}

.testimonials {
    padding-top: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}
.logo-test {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 150px;
    height: 60;
}
.client-logo {
    width: 50px;
    height: 50px;
}
.client {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    width: 120px;
    height: auto;
}
.test-about {
    font-weight: normal;
}

.pricing {
    background-color: #252B42;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding-bottom: 50px;
}

.text-price {
    width: 300px;
    height: auto;
}
.table-price {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 200px);
    grid-auto-rows: auto;
}

.table-price  ul  li {
    list-style-type: none;
    padding-right: 30px;
    line-height: 50px;
}
.table-price .button-link {
    width: 150px;
    height: 50px;
}

.middle-table .button-link {
    background-color: #FFFFFF;
    color: #2091F9;
}

.middle-table .button-link:hover {
    color: #FFFFFF;
    background-color: #2091F9;
}

.white-table {
    background-color: #FFFFFF;
    color: #252B42;
    padding-bottom: 30px;
}
.middle-table {
    background-color: #2091F9;
}

.cont_us {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-us {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-contact {
    display: flex;
    flex-direction: column;
}
.map-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 60px;
    padding-bottom: 60px;
    padding-top: 30px;
}

.img_info:hover>.logo-contact {
    width: 20px;
    height: auto;
}
.contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}

.img_info {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0.1rem;
    transition: all 0.1s ease;
    cursor: pointer;
}

.img_info:hover {
    color: #2091F9;
}

.text-contact {
    display: flex;
    justify-content: center;
    width: 300px;
    height: auto;
    text-align: center;
    flex-direction: column;
}
.names {
    background-color: #252B42;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.table-names-cont {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 200px);
    grid-auto-rows: auto;
    text-align: center;
}
.table-names-cont  ul li {
    list-style-type: none;
    padding-right: 30px;
    line-height: 50px;
}
