body {
    margin: 0;
    padding: 0;

    font-family: Geneva, Arial, Helvetica, sans-serif;
}

div {
    box-sizing: border-box;
}

.d-flex {
    display: flex;
}

.figma_land-img {
    width: max-content;
}

.header-logo-img {
    width: 150px;
    height: auto;
}

.links:hover>.social-logo {
    width: 25px;
    height: auto;  
}

.links {
    letter-spacing: 0.1rem;
    transition: all 0.1s ease;

    box-sizing: border-box;
}

.header-navigation {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.header-button-list {
    list-style-type: none;
    flex-direction: row;
    gap: 30px;
    padding-left: 0;
}

.nav-item-link {
    text-decoration: none;
    color: #FFFFFF;
}

.header-social {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 40px;
}

.open-menu {
    display: none;

    outline: none;
    border: 0;
    background: transparent;
}

.header-section {
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.bg {
    z-index: -1;
    width: 100vw;
    height: auto;

}

.content-header {
    position: absolute;
    flex-direction: column;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px;
}

.header-discript {
    color: #FFFFFF;
    font-size: 25px;

    width: 60%;
    height: auto;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-self: center;  
    padding: 5rem;
    align-items: center;
}


.button-link {
    text-align: center;
    width: 236px;
    height: 52px;

    background: #2091F9;
    border-radius: 35px;
    color: #FFFFFF;
    border:#252B42 solid 2px;
    letter-spacing: 0.1rem;
    transition: all 0.1s ease;
    cursor: pointer;
}


.button-link:hover {
    color:#2091F9;
    background-color: #FFFFFF;
}

.section-info {
    padding-top: 200px;
    justify-content: center;
}

.fw {
    flex-direction: row;
    align-items: center;
}

.fastest-way {
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
}

.fastway_logo {
    align-items: center;
}

.img_mac {
    width: 300px;
    height: auto;
}

.cont_email {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 100px;
}

.email {
    padding-top: 250px;
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    
}

.form-email {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.form-email .button-link {
    height: 52px;
    width: 150px;
}

.post-form {
    width: 280px;
    height: 52px;

    background: #E8E8E8;
    border-radius: 35px;
    color: #252B42;
    border:#252B42 solid 2px;
    letter-spacing: 0.1rem;
    transition: all 0.1s ease;
    padding-left: 20px;
    text-align: left;
}

.img-email {
    width: 300px;
    height: auto;
}

.info-email {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
}

.email-discript {
    font-weight: normal;
}

.partners {
    padding-top: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.grid-partners {
    display: grid;
    grid-template-columns: repeat(4, 170px);
    grid-auto-rows: repeat(2, 80px);
    background: #FFFFFF;
    border: 2px solid #f1ecec;
    margin: 75px;
}

.client_name {
    border: 2px solid #f1ecec;
}

.partners-logo {
    width: 75px;
    height: auto;
}

.testimonials {
    padding-top: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}
.logo-test {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 150px;
    height: 60;
}
.client-logo {
    width: 50px;
    height: 50px;
}
.client {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    gap: 20px;
}
.test-about {
    font-weight: normal;
}

.cont-h6 {
    flex-direction: column;
    line-height: 0;
}

.pricing {
    background-color: #252B42;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding-bottom: 50px;
}

.price {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

.per-month {
    display: flex;
}

.text-price {
    width: 300px;
    height: auto;
}
.table-price {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 200px);
    grid-auto-rows: auto;
}

.table-price  ul  li {
    list-style-type: none;
    padding-right: 30px;
    line-height: 50px;
}
.table-price .button-link {
    width: 150px;
    height: 50px;
}

.middle-table .button-link {
    background-color: #FFFFFF;
    color: #2091F9;
}

.middle-table .button-link:hover {
    color: #FFFFFF;
    background-color: #2091F9;
}

.white-table {
    background-color: #FFFFFF;
    color: #252B42;
    padding-bottom: 30px;
}
.middle-table {
    background-color: #2091F9;
}

.cont_us {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-us {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-contact {
    display: flex;
    flex-direction: column;
}

.form-email {
    flex-direction: row;
}

.form-email2 {
    flex-direction: column;
    gap: 50px;
    border: #D8D8D8 solid 1px;
    border-radius: 35px;
    padding: 25px 25px 50px 25px;
}

.post-message {
    width: 280px;
    height: 193px;
    background: #E8E8E8;
    color: #252B42;
    border:#252B42 solid 2px;
    padding-left: 20px;
}

.form-email2 .button-link {
    width: 150px;
    height: 52px;
}

.map-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    padding-bottom: 60px;
    padding-top: 30px;
}

.img_info:hover>.logo-contact {
    width: 20px;
    height: auto;
}
.contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}

.img_info {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0.1rem;
    transition: all 0.1s ease;
    cursor: pointer;
}

.img_info:hover {
    color: #2091F9;
}

.text-contact {
    display: flex;
    justify-content: center;
    width: 300px;
    height: auto;
    text-align: center;
    flex-direction: column;
}
.names {
    background-color: #252B42;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.table-names-cont {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 200px);
    grid-auto-rows: auto;
    text-align: center;
}
.table-names-cont  ul li {
    list-style-type: none;
    padding-right: 30px;
    line-height: 50px;
}

.social-media {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.box {
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:center;
    gap: 20px;
}
